
<div class="row">
        
    <div class="col-xl-6">
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted"><i class="fa-solid fa-kitchen-set"></i>{{ recipe.type }}</small>
            <small class="text-muted">
                <button 
                    class="btn btn-danger"
                    (click)="deleteRecipe()"
                    *ngIf="user.type == 1"
                >
                    Usuń przepis
                </button>
            </small>
                <small class="text-muted">
                    <i class="fa-solid fa-star" *ngFor="let _ of [].constructor(recipe.difficulty)"></i>
                    <i class="fa-solid fa-clock" style="margin-left:30px"></i>{{ recipe.duration }} mins
                </small>
        </div>
        <br>
        <span class="h1">{{ recipe.name }}</span> 
        <small class="text-muted"> dodane przez {{ recipe.author }}</small> <br> <br>
        {{ recipe.description }}<br>
         <br>
        <h3>Składniki</h3> 
        {{ recipe.ingredients }}
        <br><br>
       
        
        
        
    </div>
    <div class="col-xl-6">
        <img class="card-img-top" width="100%" [src]="recipe.imgUrl">
    </div>  
</div>
<div class="col-12 mt-5" >
    <h2>Komentarze</h2>
        <div class="card" *ngFor="let comment of recipe.comments; let i = index">
            <div class="card-body">
                <button (click)="delete(i)" class="btn btn-danger me-3" *ngIf="user.type == 1">X</button><b>{{ comment.author }}</b>: {{ comment.content }} 
            </div>
        </div>
    <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)" *ngIf="canComment && loggedIn">
        <div class="form-group">
            <h5 class="mt-5">Dodaj komentarz</h5>
            
            <textarea
                type="text"
                id="ingredients"
                class="form-control"
                ngModel
                name="content"
                rows="3"
                placeholder="Twój komentarz"
                ></textarea>
        <button class="mt-3 btn btn-success" [disabled]="!commentForm.valid">Dodaj komentarz</button>
        </div>
    </form>
</div>