<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" routerLink="/">
            <span class="fs-4">Przepisy</span>
        </a>

        <ul class="nav nav-pills" *ngIf="loggedIn">
            <li class="nav-item">
                <a class="nav-link" routerLink="/recipes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    Przepisy
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/recipes/add" routerLinkActive="active">
                   Dodaj przepis
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/logout" routerLinkActive="active">
                    Wyloguj
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills" *ngIf="!loggedIn">
            <li class="nav-item">
                <a class="nav-link" routerLink="/recipes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    Przepisy
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">
                    Zaloguj
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register" routerLinkActive="active">
                    Zarejestruj się
                </a>
            </li>
        </ul>
    </header>
</div>
