<main class="container col-5">
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <h1 class="h3 mb-3 fw-normal">Rejestracja</h1>
    <div class="form-floating">
      <input 
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Nazwa Użytkownika"
        ngModel
        required
        minlength="4"
        name="username"
      >
      <label for="floatingInput">Nazwa użytkownika</label>
    </div>
    <div class="form-floating mt-3">
      <input 
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Imie i nazwisko"
        ngModel
        required
        minlength="4"
        name="name"
      >
      <label for="floatingInput">Imie i nazwisko</label>
    </div>
    <div class="form-floating mt-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Hasło"
        ngModel
        required
        minlength="6"
        name="password"
      >
      <label for="password">Hasło</label>
    </div>
    <div class="alert alert-danger" style="margin-top:30px" role="alert" *ngIf="error">
      Użytkownik już istnieje
    </div>
    <button
      class="w-100 btn btn-lg btn-primary mt-3"
      type="submit"
      [disabled]="!authForm.valid"
    >
      Zarejestruj
    </button>
  </form>
</main>